Sitio/Sitio/Service References/ReferenciaServicios/ServicioWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53200/ServicioWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53200/ServicioWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53200/ServicioWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioWCF_InsertarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProveedor" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_InsertarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_ModificarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProveedor" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_ModificarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_EliminarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProveedor" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_EliminarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_RetonarListadoProveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:RetonarListadoProveedores" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_RetonarListadoProveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetonarListadoProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_RetornarProveedorPorCed_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornarProveedorPorCed" />
  </wsdl:message>
  <wsdl:message name="IServicioWCF_RetornarProveedorPorCed_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornarProveedorPorCedResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioWCF">
    <wsdl:operation name="InsertarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioWCF/InsertarProveedor" message="tns:IServicioWCF_InsertarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioWCF/InsertarProveedorResponse" message="tns:IServicioWCF_InsertarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioWCF/ModificarProveedor" message="tns:IServicioWCF_ModificarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioWCF/ModificarProveedorResponse" message="tns:IServicioWCF_ModificarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioWCF/EliminarProveedor" message="tns:IServicioWCF_EliminarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioWCF/EliminarProveedorResponse" message="tns:IServicioWCF_EliminarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetonarListadoProveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioWCF/RetonarListadoProveedores" message="tns:IServicioWCF_RetonarListadoProveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioWCF/RetonarListadoProveedoresResponse" message="tns:IServicioWCF_RetonarListadoProveedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornarProveedorPorCed">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioWCF/RetornarProveedorPorCed" message="tns:IServicioWCF_RetornarProveedorPorCed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioWCF/RetornarProveedorPorCedResponse" message="tns:IServicioWCF_RetornarProveedorPorCed_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioWCF" type="tns:IServicioWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarProveedor">
      <soap:operation soapAction="http://tempuri.org/IServicioWCF/InsertarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarProveedor">
      <soap:operation soapAction="http://tempuri.org/IServicioWCF/ModificarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedor">
      <soap:operation soapAction="http://tempuri.org/IServicioWCF/EliminarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetonarListadoProveedores">
      <soap:operation soapAction="http://tempuri.org/IServicioWCF/RetonarListadoProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarProveedorPorCed">
      <soap:operation soapAction="http://tempuri.org/IServicioWCF/RetornarProveedorPorCed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWCF">
    <wsdl:port name="BasicHttpBinding_IServicioWCF" binding="tns:BasicHttpBinding_IServicioWCF">
      <soap:address location="http://localhost:53200/ServicioWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>