Sitio/Sitio/Service References/ReferenciaServicios/ServicioWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53200/ServicioWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="InsertarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="dato" nillable="true" type="q1:PROVEEDOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarProveedorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="dato" nillable="true" type="q2:PROVEEDOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="dato" nillable="true" type="q3:PROVEEDOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetonarListadoProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetonarListadoProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="RetonarListadoProveedoresResult" nillable="true" type="q4:ArrayOfPROVEEDOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarProveedorPorCed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="dato" nillable="true" type="q5:PROVEEDOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarProveedorPorCedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="RetornarProveedorPorCedResult" nillable="true" type="q6:PROVEEDOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>